{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">pseudo</th>
            <th scope="col">email</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
        <tr class="table-primary">
            <th scope="row">{{ participant.nom }}</th>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.pseudo }}</td>
            <td>{{ participant.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>




</div>
{% endblock %}
