.bg-glass {
    backdrop-filter: saturate(200%) blur(25px);
    border-radius: 20px;
    width: 350px;
}

.flex-login {
    height: 100vh; display: flex;
    justify-content: center; align-items: center;
}

.center {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 25px;
    text-align: center;
}

@media (min-width: 768px) {
    .px-md-5 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.d-flex {
    display: flex !important;
    justify-content: flex-end !important;
    align-content: center !important;
}

@media only screen and (min-width: 250px) and (max-width: 1020px) {
    .mobile {
        display: block !important;
    }

    .d-block {
        margin-right: 10px !important;
    }

    .desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 1020px) and (max-width: 4000px) {
    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }
}
