.bg-glass {
    backdrop-filter: saturate(200%) blur(25px);
    border-radius: 20px;
    width: 350px;
}

.flex-login {
    height: 100vh; display: flex;
    justify-content: center; align-items: center;
}

.center {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    .px-md-5 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}