@import "custom";
@import "~bootstrap/scss/bootstrap";

.footer {
  position: absolute;
  bottom: 0;
}

.centrer {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 25px
}