<!DOCTYPE html>
<html lang="fr">

{# ENTÊTE #}
<head>

    {# TITRE #}
    <title>{% block title %}{% endblock %}</title>

    {# META #}
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">

    {# CSS WEBPACK #}
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    {# CSS JAVASCRIPT #}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

</head>

{# HAUT DE PAGE #}
<header>{% block header %}{% endblock %}</header>

{# CORPS DE PAGE #}
<body>{% block body %}{% endblock %}</body>

{# BAS DE PAGE #}
<footer>{% block footer %}{% endblock %}</footer>

</html>