<!DOCTYPE html>
<html lang="fr">

{# ENTÊTE #}
<head>

    {# TITRE #}
    <title>{% block title %}{% endblock %}</title>

    {# META #}
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">

    {# ICONE #}
    <link rel="shortcut icon" href="{{ asset('img/logo/favicon-sortircom.png') }}" />

    {# CSS WEBPACK #}
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    {# CSS JAVASCRIPT #}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

</head>

{# HAUT DE PAGE #}
<header>{% block header %}{% endblock %}</header>

{# CORPS DE PAGE #}
<body style="min-height: 100%; min-width: 100%;">{% block body %}{% endblock %}</body>


{# BAS DE PAGE #}
<footer class="footer">{% block footer %}{% endblock %}</footer>

</html>